* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  width: 100vw;
}

li, ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  -webkit-text-decoration-text-decoration: underline dotted;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inne {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::placeholder, textarea::placeholder {
  color: #a0aec0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

.landing-page-background {
  background: #C5FFF0;
}

.navigation {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
}

.navigation .navigation-right {
  outline: none;
  color: #1E40C8;
  font-weight: bold;
}

.navigation .navigation-left {
  padding: 8px;
  text-align: center;
  width: 124px;
  background: #1E40C8;
  outline: none;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 24px;
}

.slider-item {
  height: 100%;
  width: 100vw;
}

.slider-item img {
  width: 601px;
  position: relative;
  margin: 0 auto;
}

.landing-texts {
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
}

.landing-texts h5 {
  color: #707070;
  font-size: 24px;
  margin-bottom: 10px;
}

.landing-texts h2 {
  color: #091740;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin-bottom: -10px;
}

.landing-texts h3 {
  color: #091740;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 31px;
}

.landing-texts p {
  font-size: 18px;
  color: #091740;
  margin-bottom: 31px;
}

.landing-texts a {
  outline: none;
  text-align: center;
  padding: 10px;
  width: 361px;
  border: none;
  border-radius: 24px;
  color: #fff;
  box-shadow: 0px 16px 48px rgba(5, 14, 53, 0.5);
  background: #1E40C8;
  margin-bottom: 50px;
}

.section-b {
  text-align: center;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
}

.section-b .section-b-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-b .section-b-container .heading {
  font-size: 36px;
  color: #091740;
}

.section-b .section-b-container .flex-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.section-b .section-b-container .flex-list .flex-item {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
}

.section-b .section-b-container .flex-list .flex-item:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
}

.section-b .section-b-container .flex-list .flex-item:hover svg {
  color: #1d3fc7;
}

.section-b .section-b-container .flex-list .flex-item svg {
  width: 35px;
  color: #b4bfce;
  margin-bottom: 30px;
}

.section-b .section-b-container .flex-list .flex-item h5 {
  color: #091740;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 22px;
}

.section-b .section-b-container .flex-list .flex-item p {
  font-size: 18px;
  color: #091740;
}

.section-c {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-c div {
  text-align: center;
  width: 803px;
  max-width: 80%;
  margin-bottom: 30px;
}

.section-c div h3 {
  font-size: 48px;
  color: #091740;
  margin-bottom: 30px;
}

.section-c div p {
  font-size: 18px;
  color: #091740;
}

.section-c button {
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  padding: 15px;
  width: 361px;
  border: none;
  border-radius: 24px;
  color: #fff;
  box-shadow: 0px 16px 48px rgba(5, 14, 53, 0.5);
  background: #1E40C8;
  margin-bottom: 30px;
}

.section-d {
  background: #ffffff;
  padding: 50px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-d h5 {
  font-size: 30px;
  text-align: center;
  color: #091740;
  margin-bottom: 60px;
}

.section-d .section-d-inner {
  width: 960px;
  max-width: 85%;
  margin: 0 auto;
  margin: 0 auto;
}

.section-d .section-d-inner div {
  margin-bottom: 25px;
}

.section-d .section-d-inner div h6 {
  font-size: 20px;
  color: #091740;
}

.section-d .section-d-inner div p {
  font-size: 20px;
  color: #707070;
}

.section-e {
  position: relative;
  padding: 50px 0 50px 0;
  background: transparent radial-gradient(closest-side at 50% 0%, #0A1F62 0%, #061648 100%, #061648 100%) 0% 0% no-repeat padding-box;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.section-e .circle1, .section-e .circle2 {
  position: absolute;
  bottom: 228px;
  border: none;
  background: #1E40C8;
  right: 100px;
  z-index: 4;
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.section-e .circle2 {
  right: 180px;
  background: #B4BFCE;
}

.section-e p {
  font-size: 14px;
  color: #748394;
}

.section-e h3 {
  font-size: 36px;
  margin-bottom: 50px;
}

.section-e .section-e-card {
  width: 996px;
  max-width: 100%;
  margin-bottom: 70px;
}

.section-e .section-e-card span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #30D1FF;
  color: #30D1FF;
  margin-bottom: 20px;
}

.section-e .section-e-card p {
  color: #ffffff;
  margin-bottom: 20px;
}

.section-e .section-e-card div {
  border-radius: 10px;
  width: 762px;
  background: #F0F5FC;
  display: flex;
  justify-content: space-between;
}

.section-e .section-e-card div .right img {
  margin-left: 20px;
  height: 127px;
}

.section-e .section-e-card div .left {
  display: inline-block;
  width: 131px;
  font-size: 14px;
  align-self: center;
  padding: 8px 0;
  background: #1E40C8;
  outline: none;
  margin-right: 50px;
  box-shadow: 0px 16px 48px #050E35;
  color: #fff;
  border: none;
  border-radius: 24px;
}

.section-e .section-e-card .second {
  background: #fff;
  width: 654px;
  height: 292px;
}

.section-e .section-e-card .second img {
  height: 90%;
  margin: auto auto;
}

.section-e .section-e-card .third {
  width: 595px;
  height: 202px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-e .section-e-card .third img:first-child {
  height: 238px;
  margin-left: 40px;
}

.section-e .section-e-card .third img:nth-child(2) {
  height: 86.25px;
}

.section-f {
  height: auto;
  padding-top: 80px;
  background: #F6F9FD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-f .flex-wrapper {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.09);
  display: flex;
  width: 1178px;
  max-width: 90%;
  height: 428px;
}

.section-f .flex-wrapper div {
  border-radius: 10px;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
}

.section-f .flex-wrapper div:nth-child(2) {
  background: #C5FFF0;
}

.section-f .flex-wrapper div .inner {
  width: 70%;
  background: none;
}

.section-f .flex-wrapper div .inner h3 {
  margin-bottom: 30px;
}

.section-f .flex-wrapper div .inner p {
  margin-bottom: 50px;
}

.section-f .flex-wrapper div .inner a {
  color: #1E40C8;
}

.section-f h4 {
  color: #091740;
  margin-top: 70px;
  margin-bottom: 10px;
}

.section-f button {
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  padding: 15px 60px;
  border: none;
  border-radius: 24px;
  color: #fff;
  box-shadow: 0px 16px 48px rgba(5, 14, 53, 0.5);
  background: #1E40C8;
  margin-bottom: 120px;
  width: 361px;
}

.register {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.register .register-wrapper {
  overflow-x: hidden;
  height: 994px;
  margin: 0 auto;
  display: flex;
  width: auto;
}

.register .register-wrapper .left {
  flex-basis: 682px;
}

.register .register-wrapper .left img {
  width: 100%;
  margin-left: auto;
}

.register .register-wrapper .right {
  flex-basis: 682px;
  padding-top: 50px;
  padding: 50px 70px 0 70px;
}

.register .register-wrapper .right h3 {
  font-size: 30px;
  color: #090E18;
  font-weight: bold;
  margin-bottom: 50px;
}

.register .register-wrapper .right p {
  font-size: 24px;
  color: #4CE797;
  margin-bottom: 10px;
}

.register .register-wrapper .right .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register .register-wrapper .right .register-form input {
  width: 100%;
  height: 61px;
  border: 2px solid #015FCC;
  outline: none;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 3px 10px;
}

.register .register-wrapper .right .register-form .note {
  font-size: 14px;
}

.register .register-wrapper .right .register-form button {
  display: inline-block;
  width: 235px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0 auto;
  background: #223564;
  padding: 15px 0;
  margin-top: 20px;
}

.register .register-wrapper .right .small {
  font-size: 20px;
  margin-top: 45px;
  color: #707070;
}

.login {
  background: #F7F8FA;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login-wrapper {
  width: 500px;
}

.login .login-wrapper div {
  display: inline-block;
  padding: 10px 30px;
  background: #223564;
  color: #fff;
  font-size: 24px;
}

.login .login-wrapper .login-form {
  box-shadow: 3px 3px 10px #707070;
  background: #ffffff;
  padding: 50px;
  padding-bottom: 80px;
  border-top: 2px solid #223564;
}

.login .login-wrapper .login-form .note {
  font-size: 18px;
  color: #4CE797;
}

.login .login-wrapper .login-form p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 21px;
  color: #000000;
}

.login .login-wrapper .login-form .form-group {
  margin-bottom: 20px;
  background: none;
  color: #707070;
  display: block;
  padding: 0;
}

.login .login-wrapper .login-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.login .login-wrapper .login-form .form-group input {
  color: #707070;
  font-size: 20px;
  border-radius: 4px;
  outline: none;
  height: 55px;
  padding: 0 30px;
  width: 100%;
  border: 1px solid #E4E4E4;
}

.login .login-wrapper button {
  font-size: 25px;
  width: 100%;
  height: 61px;
  border: none;
  outline: none;
  background: #223564;
  color: white;
  margin-top: 20px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding: 25px 15px;
  }
  .navigation .navigation-right svg {
    width: 130px;
  }
  .slider-item img {
    height: auto;
    width: 80%;
  }
  .landing-texts h5 {
    font-size: 20px;
  }
  .landing-texts h2 {
    font-size: 36px;
  }
  .landing-texts h3 {
    font-size: 36px;
  }
  .landing-texts a {
    width: 250px;
  }
  button {
    width: 250px !important;
  }
  .section-f .flex-wrapper {
    flex-direction: column;
    height: auto;
  }
  .section-f .flex-wrapper div {
    padding: 40px 0;
  }
  .section-b .section-b-container .flex-list {
    flex-direction: column;
  }
  .section-b .section-b-container .flex-list .flex-item {
    margin-bottom: 20px;
  }
  .section-e .circle1, .section-e .circle2 {
    display: none;
  }
  .section-e .section-e-card {
    width: 100%;
  }
  .section-e .section-e-card div {
    width: 100%;
  }
  .section-e .section-e-card div .right img {
    margin-left: 10px;
  }
  .section-e .section-e-card div .left {
    margin-right: 10px;
  }
  .section-e .section-e-card .second {
    width: 100%;
  }
  .section-e .section-e-card .second img {
    width: 90%;
    height: auto;
  }
  .section-e .section-e-card .third {
    width: 100%;
    justify-content: space-between;
  }
  .section-e .section-e-card .third img:first-child, .section-e .section-e-card .third img:nth-child(2) {
    height: futo;
  }
  .section-e .section-e-card .third img:first-child {
    height: 150px;
    margin-left: 0;
  }
  .section-e .section-e-card .third img:nth-child(2) {
    height: 70px;
    margin-right: 10px;
  }
}
